.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $blue;
    z-index: -1;

    @include opacity(0);
    @include backface-visibility(hidden);
    @include transition(background-color .5s ease-out, opacity .5s ease-out);

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        margin-top: 21px;
        margin-left: 15px;
        @include transition(border-color .5s ease-out);

        &.up { @include rotate(-135deg); }
    }

    &:hover { 
        background-color: $blue;

        i { border-color: white; }
    }

    &.active { @include opacity(1); z-index: 999; }
}